.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 150px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 100px;

  @media (min-width: 768px) {
    width: 150px;
  }
}

.select-container {
  width: 90%;
}

.hidden {
  visibility: hidden;
}

.person-picker {
  width: 100%;
  height: 40px;
  background-color: "white";
  margin-bottom: 20px;
}

.mode-button {
  color: rgb(128, 119, 119);
  background: black;
  border: none;

  &:hover {
    color: whitesmoke;
    & svg {
      transform: scale(1.1);
    }
  }
}

.active-button {
  color: white;
}

.error-view,
.idle-view,
.loading-view {
  text-align: center;
  padding-top: 25vh;

  p {
    font-size: 20px;
    font-style: italic;
  }

  a {
    color: unset;
    text-decoration: none;
  }
}

.error-view,
.loading-view {
  img {
    height: 300px;
  }
}

.idle-image {
  opacity: 0.05;
  position: absolute;
  margin-top: 20px;
  top: 50%;
  left: 50%;
  width: 70vw;
  transform: translate(-50%, -50%); 

  @media (min-width: 768px) {
    margin-top: 100px;
  }
}

.film-view {
  padding-top: 50px;
}

.card-row {
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.movie-card {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  width: 80vw;
  transition: 0.1s;
  flex: 0 0 25%;

  @media (min-width: 768px) {
    margin: 20px;
    width: unset;
  }
}

.movie-card:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.movie-row {
  position: relative;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  height: 120px;
  padding: 10px;
}

.movie-row:hover {
  cursor: pointer;
  background: rgba(220, 220, 220, 0.3);
  transition: 0.2s;
}

.movie-row-content {
  display: flex;
  align-content: center;
  text-align: center;
}

.image-card {
  height: 300px;

  @media (min-width: 768px) {
    height: 350px;
  }

  @media (min-width: 1200px) {
    height: 400px;
  }
}

.table-image-card {
  height: 75px;
}

.image-row {
  height: 100px;
  position: absolute;
  left: 100px;
}

.movies {
  margin: 0 8%;
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
}

.movie-caption {
  border-top: 1px solid lightgrey;
  margin-top: 20px;
  padding-top: 10px;
}

#customized-dialog-title {
  span {
    font-size: 16px;
    color: #2c282c;
  }
}

.modal-credits {
  margin-top: 20px;
}

.film-row {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(251, 249, 249);
    & .table-image-card {
      transform: scale(1.1);
    }
  }
}
